# LLM
LLM_MODEL=""
TOGETHER_API_KEY=""
LLM_MAX_TOKENS='8192'

# Agent
ASK_TOOL_PERMISSIONS='y'
PARALLEL_TOOL_CALLS='n'

# Tools
WEBSEARCH_API_KEY=""


# Logs
SEARCH_LOGS="logs/search"
AGENT_RESPONSE_LOGS="logs/chat_traces"
GENERAL_LOGS="logs/general_logs"
LOGGING_LEVEL="DEBUG"
# Telemetry
USE_TELEMETRY="y"
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT=""
